domain_info: <
  name: "SimpleExample"
  policy_keys_path: "policy_keys"
  guard_type: "ACLs"
>
x509_info: <
  common_name: "SimpleExample"
  country: "US"
  state: "CA"
  organization: "CloudProxy"
>
acl_guard_info: <
  signed_acls_path: "acls"
>
datalog_guard_info: <
  signed_rules_path: "rules"
>
tpm_info: <
  tpm_path: "/dev/tpm0"
  aik_path: "aikblob"
  pcrs: "17,18"
>
